.app {
  height: 100vh;
  overscroll-behavior-y: none;
  display: flex;
  position: relative;
  flex-direction: column;
}

.header {
  background-color: var(--color-dark--2);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem 0;
}

.fullScreen {
  font-size: 3rem;
}
