.container {
  background-image: linear-gradient(
      rgba(36, 42, 46, 0.8),
      rgba(36, 42, 46, 0.8)
    ),
    url("/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding: 2.5rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.homepage {
  justify-self: center;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.homepage section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.homepage h1 {
  font-size: 8vw;
  line-height: 1.3;
  color: var(--color-brand--2);
}
.homepage h2 {
  font-size: 6vw;
  line-height: 1.5;
}

.homepage h3 {
  font-size: 2vw;
  color: var(--color-light--1);
  margin-bottom: 2.5rem;
}

@media (max-width: 818px) {
  .homepage h1 {
    font-size: 8rem;
  }
  .homepage h2 {
    font-size: 4rem;
  }

  .homepage h3 {
    font-size: 2rem;
  }
}
