.container {
  background-image: linear-gradient(
      rgba(36, 42, 46, 0.8),
      rgba(36, 42, 46, 0.8)
    ),
    url("/img-1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.product {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.product section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.product h2 {
  font-size: 6vw;
  line-height: 1.2;
  margin-bottom: 3rem;
  color: var(--color-brand--2);
  text-align: center;
}

.product p {
  text-align: center;
  font-size: 2vw;
  margin-bottom: 2rem;
}

.product section a {
  margin-top: 2rem;
}

@media (max-width: 880px) {
  .product h2 {
    font-size: 6rem;
  }
  .product p {
    font-size: 2rem;
  }
}
