.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4rem;
  flex-wrap: wrap;
  justify-content: center;
}

.nav a:link,
.nav a:visited {
  text-decoration: none;
  color: var(--color-light--2);
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
  transition: 0.2s ease-in-out;
}

/* CSS Modules feature */
.nav a:global(.active) {
  color: var(--color-brand--2);
}

.nav ul li a:hover {
  color: var(--color-brand--2);
}

a.ctaLink:link,
a.ctaLink:visited {
  background-color: var(--color-brand--2);
  color: var(--color-dark--0);
  padding: 0.8rem 2rem;
  border-radius: 7px;
}
.nav ul li a.ctaLink:hover {
  color: #fff;
  background-color: var(--color-hover-link);
}

@media (max-width: 560px) {
  .nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2.5rem;
  }
}
@media (max-width: 320px) {
  .nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 4rem;
  }
}
