.sidebar {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 1.5rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000000;
  left: 1rem;
  right: 1rem;
  top: 5rem;
  margin: auto;
  width: fit-content;
}

.footer {
  margin-top: 2rem;
}

.copyright {
  font-size: 1.2rem;
  color: #000000;
}

.close {
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  background-color: #2727275e;
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.close:hover {
  background-color: rgba(0, 0, 0, 0.118) ;
}
